---
layout: base
---

<header class="section">
  <div class="section__inner region">
    <div class="wrapper flow prose">
      <section class="prose">
        <h1>{{ title }}</h1>
      </section>
    </div>
  </div>
</header>
<article class="wrapper flow prose region">
  {{ content | safe }}
  <ul class="flow" role="list" data-rows="masonry" data-layout="50-50">
    {% set postslist = collections.posts %}
    {% for post in postslist %}
      <li>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
        – {% set definedDate = post.date %}
        {% include "partials/date.njk" %}
      </li>
    {% endfor %}
  </ul>
</article>